# General
target/
bin/
tmp/
*.tmp
*.bak
*.swp
*.log
*~

# Latex
auto/
_minted*/
*.aux
*.log
*.out
*.synctex.gz
*.toc
*.nav
*.snm
*.vrb
*.bbl
*.blg
*_latexmk
*.bib.bak
*.bib.sav
*.fls
*.lof

# Emacs
.projectile

# Haskell
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
